@import url(https://s.brightspace.com/lib/fonts/0.2.0/fonts.css);
html {
  font-size: 20px;
}

body {
  color: #565a5c;
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  margin: 1rem;
}

body.vui-dyslexic,
body .vui-dyslexic {
  font-weight: 400;
  font-family: 'Open Dyslexic', sans-serif;
}

body :lang(ar) {
  font-family: 'Arabic Transparent', 'Arabic Typesetting', 'Geeza Pro', sans-serif;
}

body :lang(zh-CN) {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
}

body :lang(zh-TW) {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
}

body :lang(ko) {
  font-family: 'Apple SD Gothic Neo', Dotum, sans-serif;
}

body :lang(ja) {
  font-family: 'Hiragino Kaku Gothic Pro', 'Meiyro', sans-serif;
}

body p {
  margin: 1.5rem 0;
}

table {
  max-width: 1000px;
}

td, th {
  padding: 0.5rem;
}

.heading-1 {
  color: #565a5c;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -0.025rem;
  margin: 1.5rem 0 1.5rem 0;
}

.heading-2 {
  color: #565a5c;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: -0.015rem;
  margin: 1.5rem 0 1.5rem 0;
}

.heading-3 {
  color: #565a5c;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 1.5rem 0 1.5rem 0;
}

.heading-3 {
  color: #565a5c;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  margin: 1.5rem 0 1.5rem 0;
}

.small-text {
  color: #565a5c;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  margin: 1rem 0 1rem 0;
}

.small-strong-text {
  color: #565a5c;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  margin: 1rem 0 1rem 0;
  text-transform: uppercase;
}

.help-text {
  color: #565a5c;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  margin: auto;
}
