@import '../typography.scss';
@import '../headings.scss';
@import '../small-text.scss';
@import '../help-text.scss';

html {
	font-size: 20px;
}
body {
	@include vui-typography;
	margin: 1rem;
}
table {
	max-width: 1000px;
}
td, th {
	padding: 0.5rem;
}
td {
}

.heading-1 {
	@include vui-typography-heading1;
}

.heading-2 {
	@include vui-typography-heading2;
}

.heading-3 {
	@include vui-typography-heading3;
}

.heading-3 {
	@include vui-typography-heading4;
}

.small-text {
	@include vui-typography-small-text;
}

.small-strong-text {
	@include vui-typography-small-strong-text;
}

.help-text {
	@include vui-typography-help-text;
}
