@import 'bower_components/vui-colors/colors.scss';

@mixin vui-typography-font(
		$line-height: 1.4rem
	) {

	color: $vui-color-ferrite;
	font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 0.95rem;
	font-weight: 400;
	line-height: $line-height;
	letter-spacing: 0.01rem;

	&.vui-dyslexic,
	.vui-dyslexic {
		font-weight: 400;
		font-family: 'Open Dyslexic', sans-serif;
	}

	:lang(ar) {
		font-family: 'Arabic Transparent', 'Arabic Typesetting', 'Geeza Pro', sans-serif;
	}
	:lang(zh-CN) {
		font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
	}
	:lang(zh-TW) {
		font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
	}
	:lang(ko) {
		font-family: 'Apple SD Gothic Neo', Dotum, sans-serif;
	}
	:lang(ja) {
		font-family: 'Hiragino Kaku Gothic Pro', 'Meiyro', sans-serif;
	}

}
