@import 'bower_components/vui-colors/colors.scss';
@import 'px-to-base-rem.scss';

@mixin vui-typography-heading1($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 300;
	line-height: 3rem;
	letter-spacing: px-to-base-rem(-0.5px);
	margin: $margin;

}

@mixin vui-typography-heading2($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.25rem;
	letter-spacing: px-to-base-rem(-0.3px);
	margin: $margin;

}

@mixin vui-typography-heading3($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: px-to-base-rem(0.5px);
	margin: $margin;

}

@mixin vui-typography-heading4($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: px-to-base-rem(0.4px);
	margin: $margin;

}
