@import 'bower_components/vui-colors/colors.scss';

@mixin vui-typography-small-text(
		$color: $vui-color-ferrite,
		$fontWeight: 400,
		$margin: 1rem 0 1rem 0,
		$line-height: 1rem
	) {

	color: $color;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: $fontWeight;
	line-height: $line-height;
	letter-spacing: 0.02rem;
	margin: $margin;

}

@mixin vui-typography-small-strong-text(
		$color: $vui-color-ferrite,
		$fontWeight: 700, 
		$margin: 1rem 0 1rem 0
	) {

	@include vui-typography-small-text(
			$color: $color,
			$fontWeight: $fontWeight,
			$margin: $margin
		);

	text-transform: uppercase;

}
