@import '../../less/valenceui.less';

.vui-typography {
	color: @fontColour;
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: normal;
	line-height: @lineHeight;
}

.vui-heading-1,
.vui-heading-2,
.vui-heading-3,
.vui-heading-4 {
	color: @headingColour;
	font-family: inherit;
	font-weight: @headingWeight;
	margin: 0 0 15px 0;
}

.vui-heading-1 {
	.fontSizeEm( @heading1Size );
	.lineHeightEm( @headingLineHeight, @heading1Size );
}

.vui-heading-2 {
	.fontSizeEm( @heading2Size );
	.lineHeightEm( @headingLineHeight, @heading2Size );
}

.vui-heading-3 {
	.fontSizeEm( @heading3Size );
	.lineHeightEm( @headingLineHeight, @heading3Size );
}

.vui-heading-4 {
	.fontSizeEm( @heading4Size );
	.lineHeightEm( @headingLineHeight, @heading4Size );
}

.vui-emphasis {
	color: @emphasisColour;
	font-style: @emphasisStyle;
	margin: 0 0 20px 0;
}

.vui-help {
	color: @helpColour;
	font-style: @helpStyle;
	font-weight: @helpWeight;
	.fontSizeEm( @helpSize );
	.lineHeightEm( @helpLineHeight, @helpSize );
	margin: 0 0 20px 0;
}