@import 'bower_components/vui-colors/colors.scss';
@import 'px-to-rem.scss';
@import 'fonts.scss';
@import 'base-font-size.scss';

@mixin vui-typography() {

	@include vui-typography-font();

	& p {
		margin: 1.5rem 0;
	}

}

@mixin vui-typography-font() {

	color: $vui-color-ferrite;
	font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: px-to-rem(0.3px, $vui-base-fontSize);

	&.vui-dyslexic,
	.vui-dyslexic {
		font-weight: 400;
		font-family: 'Open Dyslexic', sans-serif;
	}

	:lang(ar) {
		font-family: 'Arabic Transparent', 'Arabic Typesetting', 'Geeza Pro', sans-serif;
	}
	:lang(zh-CN) {
		font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
	}
	:lang(zh-TW) {
		font-family: 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
	}
	:lang(ko) {
		font-family: 'Apple SD Gothic Neo', Dotum, sans-serif;
	}
	:lang(ja) {
		font-family: 'Hiragino Kaku Gothic Pro', 'Meiyro', sans-serif;
	}

}

@mixin vui-typography-heading1($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 300;
	line-height: 3rem;
	letter-spacing: px-to-rem(-0.5px, $vui-base-fontSize);
	margin: $margin;

}

@mixin vui-typography-heading2($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.25rem;
	letter-spacing: px-to-rem(-0.3px, $vui-base-fontSize);
	margin: $margin;

}

@mixin vui-typography-heading3($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: px-to-rem(0.5px, $vui-base-fontSize);
	margin: $margin;

}

@mixin vui-typography-heading4($margin: 1.5rem 0 1.5rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: px-to-rem(0.4px, $vui-base-fontSize);
	margin: $margin;

}

@mixin vui-typography-small-text(
		$fontWeight: 400,
		$margin: 1rem 0 1rem 0,
		$line-height: 1rem
	) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: $fontWeight;
	line-height: $line-height;
	letter-spacing: px-to-rem(0.4px, $vui-base-fontSize);
	margin: $margin;

}

@mixin vui-typography-small-strong-text($fontWeight: 700, $margin: 1rem 0 1rem 0) {

	color: $vui-color-ferrite;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: $fontWeight;
	line-height: 1rem;
	letter-spacing: px-to-rem(0.4px, $vui-base-fontSize);
	margin: $margin;
	text-transform: uppercase;

}

@mixin vui-typography-help-text() {

	@include vui-typography-small-text($margin: auto);

}
