@vui-fontColor: #353535;
@vui-fontFamily: Arial;
@vui-fontSize: 13px;
@vui-lineHeight: 1.54em;

@vui-heading-fontColor: #666666;
@vui-heading-fontWeight: normal;
@vui-heading-topMargin: 0;
@vui-heading-rightMargin: 0;
@vui-heading-bottomMargin: 15px;
@vui-heading-leftMargin: 0;
@vui-heading-lineHeight: 25px;
@vui-heading1-fontSize: 23px;
@vui-heading2-fontSize: 19px;
@vui-heading3-fontSize: 17px;
@vui-heading4-fontSize: 15px;

@vui-emphasis-fontColor: #666666;
@vui-emphasis-fontStyle: italic;
@vui-emphasis-topMargin: 0;
@vui-emphasis-rightMargin: 0;
@vui-emphasis-bottomMargin: 20px;
@vui-emphasis-leftMargin: 0;

@vui-help-fontColor: #666666;
@vui-help-fontSize: 11px;
@vui-help-fontStyle: italic;
@vui-help-fontWeight: normal;
@vui-help-lineHeight: 20px;
@vui-help-topMargin: 0;
@vui-help-rightMargin: 0;
@vui-help-bottomMargin: 20px;
@vui-help-leftMargin: 0;

#vui {

	.Typography(
			@fontColor: @vui-fontColor,
			@fontFamily: @vui-fontFamily,
			@fontSize: @vui-fontSize,
			@lineHeight: @vui-lineHeight
		) {
		color: @fontColor;
		font-family: @fontFamily;
		font-size: @fontSize;
		font-weight: normal;
		line-height: @lineHeight;
	}

	.Typography {

		.emphasis(
				@fontColor: @vui-emphasis-fontColor,
				@fontStyle: @vui-emphasis-fontStyle,
				@topMargin: @vui-emphasis-topMargin,
				@rightMargin: @vui-emphasis-rightMargin,
				@bottomMargin: @vui-emphasis-bottomMargin,
				@leftMargin: @vui-emphasis-leftMargin,
				@baseFontSize: @vui-fontSize
			) {
			color: @fontColor;
			font-style: @fontStyle;
			#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @baseFontSize );
		}

		.help(
				@fontColor: @vui-help-fontColor,
				@fontSize: @vui-help-fontSize,
				@fontStyle: @vui-help-fontStyle,
				@fontWeight: @vui-help-fontWeight,
				@lineHeight: @vui-help-lineHeight,
				@topMargin: @vui-help-topMargin,
				@rightMargin: @vui-help-rightMargin,
				@bottomMargin: @vui-help-bottomMargin,
				@leftMargin: @vui-help-leftMargin,
				@baseFontSize: @vui-fontSize
			) {
			color: @fontColor;
			font-style: @fontStyle;
			font-weight: @fontWeight;
			#vui.fontSizeEm( @fontSize, @baseFontSize );
			#vui.lineHeightEm( @lineHeight, @fontSize );
			#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @fontSize );
		}

	}

	.Heading(
			@fontColor: @vui-heading-fontColor,
			@fontWeight: @vui-heading-fontWeight
		) {
		color: @fontColor;
		font-family: inherit;
		font-weight: @fontWeight;
	}

	.Heading1(
			@fontColor: @vui-heading-fontColor,
			@fontWeight: @vui-heading-fontWeight,
			@fontSize: @vui-heading1-fontSize,
			@lineHeight: @vui-heading-lineHeight,
			@topMargin: @vui-heading-topMargin,
			@rightMargin: @vui-heading-rightMargin,
			@bottomMargin: @vui-heading-bottomMargin,
			@leftMargin: @vui-heading-leftMargin,
			@baseFontSize: @vui-fontSize
		) {
		#vui.Heading( @fontColor, @fontWeight );
		#vui.fontSizeEm( @fontSize, @baseFontSize );
		#vui.lineHeightEm( @lineHeight, @fontSize );
		#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @fontSize );
	}

	.Heading2(
			@fontColor: @vui-heading-fontColor,
			@fontWeight: @vui-heading-fontWeight,
			@fontSize: @vui-heading2-fontSize,
			@lineHeight: @vui-heading-lineHeight,
			@topMargin: @vui-heading-topMargin,
			@rightMargin: @vui-heading-rightMargin,
			@bottomMargin: @vui-heading-bottomMargin,
			@leftMargin: @vui-heading-leftMargin,
			@baseFontSize: @vui-fontSize
		) {
		#vui.Heading( @fontColor, @fontWeight );
		#vui.fontSizeEm( @fontSize, @baseFontSize );
		#vui.lineHeightEm( @lineHeight, @fontSize );
		#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @fontSize );
	}

	.Heading3(
			@fontColor: @vui-heading-fontColor,
			@fontWeight: @vui-heading-fontWeight,
			@fontSize: @vui-heading3-fontSize,
			@lineHeight: @vui-heading-lineHeight,
			@topMargin: @vui-heading-topMargin,
			@rightMargin: @vui-heading-rightMargin,
			@bottomMargin: @vui-heading-bottomMargin,
			@leftMargin: @vui-heading-leftMargin,
			@baseFontSize: @vui-fontSize
		) {
		#vui.Heading( @fontColor, @fontWeight );
		#vui.fontSizeEm( @fontSize, @baseFontSize );
		#vui.lineHeightEm( @lineHeight, @fontSize );
		#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @fontSize );
	}

	.Heading4(
			@fontColor: @vui-heading-fontColor,
			@fontWeight: @vui-heading-fontWeight,
			@fontSize: @vui-heading4-fontSize,
			@lineHeight: @vui-heading-lineHeight,
			@topMargin: @vui-heading-topMargin,
			@rightMargin: @vui-heading-rightMargin,
			@bottomMargin: @vui-heading-bottomMargin,
			@leftMargin: @vui-heading-leftMargin,
			@baseFontSize: @vui-fontSize
		) {
		#vui.Heading( @fontColor, @fontWeight );
		#vui.fontSizeEm( @fontSize, @baseFontSize );
		#vui.lineHeightEm( @lineHeight, @fontSize );
		#vui.marginEm( @topMargin, @rightMargin, @bottomMargin, @leftMargin, @fontSize );
	}

	.fontSizeEm(
			@targetPx: 13,
			@basePx: @vui-fontSize
		) {
		font-size: unit( ( @targetPx / @basePx ), em );
	}

	.lineHeightEm(
			@targetPx: 20,
			@basePx: @fontSize
		) {
		line-height: unit( ( @targetPx / @basePx ), em );
	}

	.marginEm(
			@targetTopPx: 0,
			@targetRightPx: 0,
			@targetBottomPx: 0,
			@targetLeftPx: 0,
			@basePx: @fontSize
		) {
		margin: unit( ( @targetTopPx / @basePx ), em ) unit( ( @targetRightPx / @basePx ), em ) unit( ( @targetBottomPx / @basePx ), em ) unit( ( @targetLeftPx / @basePx ), em );
	}

}
