@import '../../d2l-typography.scss';

@include d2l-typography-font-face();

.custom-typography {
	@include d2l-typography();
}

.d2l-body-standard {
	@include d2l-body-standard();
}

.d2l-body-compact {
	@include d2l-body-compact();
}

.d2l-body-small {
	@include d2l-body-small();
}

.d2l-heading-1 {
	@include d2l-heading-1();
}

.d2l-heading-2 {
	@include d2l-heading-2();
}

.d2l-heading-3 {
	@include d2l-heading-3();
}

.d2l-heading-4 {
	@include d2l-heading-4();
}
